*{
    font-family: 'Oswald', sans-serif;
}
.bio{
    margin: auto;
    display: flex;
    width: 700px;
    gap:10px;
    justify-content: space-around;
    align-items: center;
}
#biotext{
    text-align: left;
    width: 300px;
}
#me{
    color: gray;
}
#profilepic{
    object-fit: contain;
    object-position: bottom left;
    width: 300px;
}