* {
  font-family: "Oswald", sans-serif;
  color: #172121;

}
body {
  background-color: #7F7B82;
}
#title {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  margin: 0 auto;
  background-color: #AF97A2;
  color: #172121;
  width: 100%;
  height: fit-content;
  text-align: left;
  align-items: center;
  justify-content: space-evenly;
  z-index: 10;
}
.bio {
  margin: 150px auto;
  margin-bottom: 50px;
  display: flex;
  width: 900px;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 1em;
  color: #172121;

}
#biotext {
  text-align: left;
  width: 400px;
}
#me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#profilepic {
  object-fit: cover;
  object-position: bottom left;
  width: 300px;
  height: 300px;
  border-radius: 10%;
}
#sociallinks {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.sociallinkicon {
  object-fit: contain;
  width: 50px;
  height: 50px;
}
.skills {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -0.5em;
  width: 100vw;
  background-color: #AF97A2;
}
#skills {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 1em;
  justify-content: space-around;
  padding: 1em;
}
.projects {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -0.5em;
  width: 100vw;
  background-color: #7F7B82;
}
.projectimg {
  object-fit: contain;
  height: 200px;
}
.project {
    background-color: #E5D0CC;
    margin-bottom: 2em;
  width: fit-content;
  border-radius: 10px;
  box-shadow: black 2px 1px 1px;
}
.project > h4 {
  background-color: #AF97A2;
  padding: 0.2em;
  margin: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.projectdesc {
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  width: 50vw;
  gap: 2em;
  text-align: left;
}
@media only screen and (max-width: 992px) {
  .bio {
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 125px;
    width: fit-content;
  }
}
